.aboutContainer-header{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.aboutContainer-header-heading{
    font-size: clamp(1.875rem, 0.739rem + 5.682vw, 5rem);
}

.aboutContainer-header-text{
   width: 100%;
}

@media (min-width: 768px){
    .aboutContainer-header-text{
        width: 60%;
    }
}