.creditsContainer{
    width: 100%;
}

.creditsContainer-inner{
    padding: 100px 0;
    padding-bottom: 200px;
    width: 80%;
    margin: 0 auto;
}

.creditsContainer-heading{
    font-size: clamp(1.125rem, -0.057rem + 5.909vw, 4.375rem);
    font-weight: 300;
}


.credits-section-container-images{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    grid-auto-rows: 350px;
}

@media (max-width: 768px){
    .credits-section-container-images{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 250px;
    }
}